@import "tailwindcss";

@layer base {
  * {
    --tw-gradient-from: #080408;
    --tw-gradient-to: transparent;
  }
}

@theme {
  --color-neon-cyan: #00e5ff;
  --color-neon-red: #c0152a;
  --animate-spin-slow: spin 3s linear infinite;
}

:root {
  --background: #080408;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .glass {
    background-color: #ffffff0d;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    border: 1px solid #ffffff1a;
  }

  .neon-border-cyan {
    box-shadow:
      0 0 10px #00e5ff4d,
      inset 0 0 5px #00e5ff33;
    border-color: var(--color-neon-cyan);
  }

  .neon-glow-cyan {
    text-shadow: 0 0 10px #00e5ff80;
  }

  .neon-glow-red {
    text-shadow: 0 0 10px #c0152a80;
  }
}
