@import "tailwindcss";

@layer base {
  * {
    --tw-gradient-from: #080408;
    --tw-gradient-to: transparent;
  }
}

@theme {
  --color-neon-cyan: #00e5ff;
  --color-neon-red: #c0152a;
  --animate-spin-slow: spin 3s linear infinite;
}

:root {
  --background: #080408;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
}

/* Custom Webkit Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #080408;
}
::-webkit-scrollbar-thumb {
  background: #ffffff1a;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff33;
}

@layer utilities {
  .glass {
    background-color: rgba(255, 255, 255, 0.03); /* Lighter bg for stability */
    backdrop-filter: blur(40px); /* Stronger blur for solid feel */
    -webkit-backdrop-filter: blur(40px);
    border: 1px solid rgba(255, 255, 255, 0.08); /* Darker border */
  }

  .neon-border-cyan {
    box-shadow:
      0 0 10px #00e5ff4d,
      inset 0 0 5px #00e5ff33;
    border-color: var(--color-neon-cyan);
  }

  .neon-glow-cyan {
    text-shadow: 0 0 10px #00e5ff80;
  }

  .neon-glow-red {
    text-shadow: 0 0 10px #c0152a80;
  }
}
